@scope (.content) {
  :scope {
    --points__icon: url("../../../assets/images/ic_point.svg");
    /* --warninglight__icon: url("../../../assets/images/warninglight.svg");
    --partypopper__icon: url("../../../assets/images/sparkler.svg"); */
  }
  * {
    user-select: none;
  }
  button {
    cursor: pointer;
  }
}

.content {
  height: 77.4rem;
  background-color: white;
  border-radius: 2.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 124.8rem;
  margin: 5.35rem auto;
}

.content__container {
  gap: 2.4rem;
  height: 69.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__container__top {
  height: 12.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.content__container__top__title {
  width: 116.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
}

.content__container__top__title_btn {
  gap: 1.6rem;
}

.content__container__top__middle {
  width: 17.6rem;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  span {
    text-align: left;
    color: var(--gray);
  }
}

.content__container__top__middle__points {
  width: 11.6rem;
  height: 3.5rem;
  gap: 0.4rem;
  border-radius: 5.0rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--arsenic);
}

.content__container__top__middle__points__icon {
  width: 1.9rem;
  height: 1.9rem;
  background-image: var(--points__icon);
  background-size: cover;
}

.content__container__main {
  padding: 4.0rem 2.4rem;
  gap: 1.0rem;
  border-radius: 2.0rem;
  border: 0.1rem solid var(--gainsboro);
  display: flex;
}

.content__container__main__top {
  width: 112.0rem;
  height: 46.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.content__alert {
  position: absolute;
  top: 99.3rem;
}

/* Tablet */
@media (min-width: 744px) and (max-width:1199px){ 
  .content {
    width: 69.6rem;
    height: 72.6rem;
    margin: 1.6rem auto;
  }
  
  .content__container {
    height: 67.8rem;
    gap: 4.0rem;
  }
  
  .content__container__top {
    height: 12.8rem;
  }
  
  .content__container__top__title {
    width: 64.8rem;
  }
  
  .content__container__top__middle {
    width: 16.5rem;
  }
  
  .content__container__top__middle__points {
    gap: 0.8rem;
  }

  .content__container__main {
    padding: 4.0rem 2.4rem;
    gap: 1.0rem;
  }
  
  .content__container__main__top {
    width: 60.0rem;
    height: 43rem;
  }
  
  .content__alert {
    top: 89.15rem;
  }
} 

/* mobile */ 
@media (min-width: 375px) and (max-width:743px) {
  .content {
    width: 34.4rem;
    height: 58rem;
    margin: 2.0rem auto;
  }
  
  .content__container {
    height: 54.8rem;
  }
  
  .content__container__top {
    height: 16.6rem;
  }
  
  .content__container__top__title {
    width: 31.2rem;
    height: 8.6rem;
    font-size: 2.4rem;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
  
  .content__container__top__title_btn {
    gap: 0.8rem;
    width: 31.2rem;
  }
  
  .content__container__top__middle{
    span{
      font-size: 1.6rem;
    }
  }

  .content__container__top__middle__points {
    gap: 0.8rem;
  }
  
  .content__container__main {
    padding: 2.3rem 1.5rem;
  }
  
  .content__container__main__top {
    width: 28rem;
    height: 29.4rem;
    gap: 1.6rem;
  }
  
  .content__alert {
    top: 74.15rem;
  }
}
