.habitrecord {
  width: 112rem;
  height: 51.1rem;
  box-sizing: border-box;
  border: 0.1rem solid;
  border-color: #dddddd;
  border-radius: 2em;
  margin: 0 auto;
  /* margin-top: 4rem; */
  padding: 2.4rem;

  /* invisible scroll */
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: none;
  /* IE, Edge */
  -ms-overflow-style: none;
}

.habitrecord::-webkit-scrollbar {
  /* invisible scroll */
  /* chrome */
  display: none;
}

.habitrecord__table {
  width: 107.2rem;
  height: 41rem;
  margin-top: 2.4rem;
}

.habitrecord__title-day {
  width: 11.8rem;
  text-align: center;
}

.habitrecord__title-days {
  width: 107.2rem;
  justify-content: end;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--gray);
  line-height: 1.44444em;
}

.habitrecord__table-value-frame {
  height: 38.4rem;

  /* visible scroll */
  /* width: 108.8rem;
  overflow-y: auto;
  scrollbar-gutter: stable; */

  /* invisible scroll */
  width: 107.2rem;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: none;
  /* IE, Edge */
  -ms-overflow-style: none;
}

.habitrecord__table-value-frame::-webkit-scrollbar {
  /* invisible scroll */
  /* chrome */
  display: none;
}

.habitrecord__empty-message {
  width: 107.2rem;
  height: 38.4rem;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.habitrecord__table-habitname {
  display: flex;
  width: 24.6rem;
  height: 6.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  text-align: end;
  justify-content: end;
  align-items: center;
  font-size: 1.8rem;
  color: var(--raisin-black);
}

.habitrecord__table-habitsuccess {
  width: 11.8rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habitrecord__table-habitsuccesses {
  justify-content: end;
}

.habitrecord__title {
  font-size: 2.4rem;
  line-height: 1.19333em;
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .habitrecord {
    width: 64.8rem;
    height: 51.1rem;
    padding: 2.4rem;
    /* 임시 히든 처리 */
    overflow: hidden;
  }

  .habitrecord__table {
    width: 60rem;
    height: 41rem;
    margin-top: 2.4rem;
  }

  .habitrecord__title-day {
    width: 6.4rem;
    text-align: center;
  }

  .habitrecord__title-days {
    width: 60rem;
    justify-content: end;
  }

  .habitrecord__table-value-frame {
    width: 60rem;
  }

  .habitrecord__empty-message {
    width: 60rem;
    height: 41rem;
  }

  .habitrecord__table-habitname {
    display: flex;
    width: 15.2rem;
    height: 6.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .habitrecord__table-habitname_text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 원하는 줄 수로 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* 줄바꿈 허용 */
  }

  .habitrecord__table-habitsuccess {
    width: 6.4rem;
    height: 6.4rem;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .habitrecord {
    width: 31.2rem;
    height: 45rem;
    padding: 1.6rem;
  }

  .habitrecord__table {
    display: flex;
    flex-direction: column;
    overflow: auto;

    width: 56rem;
    height: 41rem;
    margin-top: 0.3rem;
  }

  .habitrecord__header {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .sticky-header {
    position: sticky;
    top: 0;
  }

  .sticky-left {
    position: sticky;
    left: 0;
  }

  .habitrecord__title-day {
    width: 6.4rem;
    text-align: center;
  }

  .habitrecord__title-days {
    z-index: 2;

    width: 56rem;
    justify-content: end;
    font-size: 1.4rem;
    line-height: 1.19357em;
  }

  .habitrecord__table-value-frame {
    width: 56rem;

    display: block;
    overflow-y: auto;
    overflow-x: auto;
  }

  .habitrecord__empty-message {
    width: 28rem;
    height: 41rem;
    font-size: 1.6rem;
    line-height: 1.19312em;
  }

  .habitrecord__table-habitname {
    box-sizing: content-box;
    display: flex;
    width: 12.2rem;
    height: 6.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
    line-height: 1.19357em;
  }

  .habitrecord__table-habitname_text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .habitrecord__table-habitsuccess {
    width: 6.4rem;
    height: 6.4rem;
  }

  .habitrecord__title {
    font-size: 1.8rem;
    line-height: 1.19333em;
    position: sticky;
    left: 0rem;
  }
}
