.recently-view__container {
  width: 1200px;
  height: 382px;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 40px;
  padding: 40px 38px 40px 40px;
  font-size: 24px;
  font-weight: 800;
  color: #414141;
  line-height: 28.64px;
  box-sizing: border-box;
}

.recently-view__container__text {
  position: absolute;
}

.recently-view__list {
  display: flex;
  gap: 24px;
  margin: 59px 0 0;
}

.recently-view__no-list {
  font-size: 20px;
  line-height: 23.87px;
  font-weight: 500;
  color: #818181;
  margin-top: 149px;
}

.recently-view__text-box {
  text-align: center;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .recently-view__container {
    width: 697px;
    height: 338px;
    margin-top: 20px;
    padding: 24px;
    overflow-x: auto;
  }

  .recently-view__list {
    margin: 44px 0 0;
    width: max-content;
  }

  .recently-view__container::-webkit-scrollbar {
    display: none;
  }

  .recently-view__no-list {
    margin-top: 149px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .recently-view__container {
    width: 344px;
    height: 247px;
    padding: 16px;
    overflow: auto;
    font-size: 16px;
    line-height: 19.09px;
  }

  .recently-view__container::-webkit-scrollbar {
    display: none;
  }

  .recently-view__list {
    margin: 35px auto 0;
    width: max-content;
  }

  .recently-view__no-list {
    font-size: 16px;
    line-height: 19.09px;
    margin-top: 108px;
  }
}
