.recently-view__container {
  width: 120rem;
  height: 38.2rem;
  background-color: white;
  margin: 0 auto;
  border-radius: 1.2rem;
  margin-top: 4rem;
  padding: 4rem 3.8rem 4rem 4rem;
  font-size: 2.4rem;
  font-weight: 800;
  color: #414141;
  line-height: 2.864rem;
  box-sizing: border-box;
}

.recently-view__container__text {
  position: absolute;
}

.recently-view__list {
  display: flex;
  gap: 2.4rem;
  margin: 5.9rem 0 0;
}

.recently-view__no-list {
  font-size: 2rem;
  line-height: 2.387rem;
  font-weight: 500;
  color: #818181;
  margin-top: 14.9rem;
}

.recently-view__text-box {
  text-align: center;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .recently-view__container {
    width: 69.7rem;
    height: 33.8rem;
    margin-top: 2rem;
    padding: 2.4rem;
    overflow-x: auto;
  }

  .recently-view__list {
    margin: 4.4rem 0 0;
    width: max-content;
  }

  .recently-view__container::-webkit-scrollbar {
    display: none;
  }

  .recently-view__no-list {
    margin-top: 14.9rem;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .recently-view__container {
    width: 34.4rem;
    height: 24.7rem;
    padding: 1.6rem;
    overflow: auto;
    font-size: 1.6rem;
    line-height: 1.909rem;
  }

  .recently-view__list {
    margin: 3.5rem auto 0;
    width: max-content;
  }

  .recently-view__no-list {
    font-size: 1.6rem;
    line-height: 1.909rem;
    margin-top: 10.8rem;
  }

  .recently-view__container::-webkit-scrollbar {
    display: none;
  }
}
