.recently-view__container {
  width: 1200px;
  height: 382px;
  background-color: white;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 40px;
  padding: 40px 38px 40px 40px;
  font-size: 24px;
  font-weight: 800;
  color: #414141;
  line-height: 28.64px;
  box-sizing: border-box;
}

.recently-view__container__text {
  position: absolute;
}

.recently-view__list {
  display: flex;
  gap: 24px;
  margin: 59px auto 0;
  justify-content: center;
}

.recently-view__no-list {
  font-size: 20px;
  line-height: 23.87px;
  font-weight: 500;
  color: #818181;
  margin: 96px 0 0;
  width: max-content;
}

@media (max-width: 1279px) {
  .recently-view__container {
    width: 697px;
    height: 337px;
    margin-top: 20px;
    padding: 24px;
    overflow: auto;
  }

  .recently-view__list {
    margin-top: 47px;
    width: max-content;
  }

  .recently-view__container::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .recently-view__container {
    width: 344px;
    height: 247px;
    padding: 16px;
    overflow: auto;
    font-size: 16px;
    line-height: 19.09px;
  }

  .recently-view__list {
    margin-top: 35px;
  }

  .recently-view__no-list {
    font-size: 16px;
    line-height: 19.09px;
    margin: 70px auto 0;
  }
}
