@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header__container {
  height: 10rem;
  background-color: #f6f4ef;
  padding: 0 22rem;
  box-sizing: border-box;
}

.header__btn-link {
  text-decoration: none;
}

.header__content {
  max-width: 148rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header__btn {
  background-color: #99c08e;
  width: 25.2rem;
  height: 5.8rem;
  border-radius: 1.6rem;
  padding: 1.6rem;
  text-align: center;
  margin-top: 2.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
  line-height: 2.765rem;
  font-family: EF_jejudoldam;
  text-decoration: none;
  box-sizing: border-box;
}

.header__logo {
  width: 18.16rem;
  height: 6rem;
  margin-top: 2rem;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .header__container {
    padding: 0 2.4rem;
  }

  .header__btn {
    width: 16rem;
    border-radius: 1.4rem;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .header__container {
    padding: 0 1.6rem;
  }

  .header__logo {
    width: 10.6rem;
    height: 3.502rem;
    margin-top: 3.2rem;
  }

  .header__btn {
    width: 10.6rem;
    height: 3.8rem;
    font-size: 1.193rem;
    line-height: 1.832rem;
    padding: 1rem 0 0;
    margin-top: 3rem;
    border-radius: 0.8rem;
  }
}
