.btn-today {
  height: 4.8rem;
  padding-left: 2.4rem;
  padding-right: 1.6rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 0.1rem solid;
  border-color: var(--gainsboro);
  border-radius: 0.9375em;
  color: var(--gray);
  background-color: white;
  cursor: pointer;
  gap: 0.4rem;
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .btn-today {
    height: 4rem;
    padding-left: 1rem;
    padding-right: 0.6rem;
    text-wrap: nowrap;
  }
}
