.habitsList__list-li {
  width: 40rem;
  height: 5.4rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.habitsListBody--true {
  background-color: var(--dark-sea-green);
  color: #ffffff;
}

.habitsListBody--false {
  background-color: var(--bright-gray);
  color: #818181;
}

@media (min-width: 375px) and (max-width: 743px) {
  .habitsList__list-li {
    width: 28rem;
  }
}