.ListModalBody__list-body {
  width: 60rem;
  height: 5.4rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ListModalBody__text {
  width: 40rem;
  height: 5.4rem;
  border: none;
  border-radius: 20rem;
  background-color: var(--bright-gray);
  text-decoration: underline;
  color: var(--gray);
}

.ListModalBody__flex-align {
  justify-content: center;
  align-items: center;
}

.ListModalBody__text-align {
  text-align: center;
}

.ListModalBody__img-trashCan {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 50.8rem;
}

.ListModalBody__text-check{
  color: var(--vivid-red);
  position: absolute;
  left: 12rem;
  top: 5.8rem;
}